# <b> Kareem Wael (Project 4) </b>

---

---

In [4]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import re
import warnings
warnings.filterwarnings('ignore')
%matplotlib inline

## Reading the Data

In [6]:
data=pd.read_csv("train.csv")
data.head()

,ID,Customer_ID,Month,Name,Age,SSN,Occupation,Annual_Income,Monthly_Inhand_Salary,Num_Bank_Accounts,...,Credit_Mix,Outstanding_Debt,Credit_Utilization_Ratio,Credit_History_Age,Payment_of_Min_Amount,Total_EMI_per_month,Amount_invested_monthly,Payment_Behaviour,Monthly_Balance,Credit_Score
0,0x1602,CUS_0xd40,January,Aaron Maashoh,23,821-00-0265,Scientist,19114.12,1824.843333,3,...,_,809.98,26.822620,22 Years and 1 Months,No,49.574949,80.41529543900253,High_spent_Small_value_payments,312.49408867943663,Good
1,0x1603,CUS_0xd40,February,Aaron Maashoh,23,821-00-0265,Scientist,19114.12,NaN,3,...,Good,809.98,31.944960,NaN,No,49.574949,118.28022162236736,Low_spent_Large_value_payments,284.62916249607184,Good
2,0x1604,CUS_0xd40,March,Aaron Maashoh,-500,821-00-0265,Scientist,19114.12,NaN,3,...,Good,809.98,28.609352,22 Years and 3 Months,No,49.574949,81.699521264648,Low_spent_Medium_value_payments,331.2098628537912,Good
3,0x1605,CUS_0xd40,April,Aaron Maashoh,23,821-00-0265,Scientist,19114.12,NaN,3,...,Good,809.98,31.377862,22 Years and 4 Months,No,49.574949,199.4580743910713,Low_spent_Small_value_payments,223.45130972736786,Good
4,0x1606,CUS_0xd40,May,Aaron Maashoh,23,821-00-0265,Scientist,19114.12,1824.843333,3,...,Good,809.98,24.797347,22 Years and 5 Months,No,49.574949,41.420153086217326,High_spent_Medium_value_payments,341.48923103222177,Good

In [7]:
data.isna().sum()

ID                              0
Customer_ID                     0
Month                           0
Name                         9985
Age                             0
SSN                             0
Occupation                      0
Annual_Income                   0
Monthly_Inhand_Salary       15002
Num_Bank_Accounts               0
Num_Credit_Card                 0
Interest_Rate                   0
Num_of_Loan                     0
Type_of_Loan                11408
Delay_from_due_date             0
Num_of_Delayed_Payment       7002
Changed_Credit_Limit            0
Num_Credit_Inquiries         1965
Credit_Mix                      0
Outstanding_Debt                0
Credit_Utilization_Ratio        0
Credit_History_Age           9030
Payment_of_Min_Amount           0
Total_EMI_per_month             0
Amount_invested_monthly      4479
Payment_Behaviour               0
Monthly_Balance              1200
Credit_Score                    0
dtype: int64

---

# Drop the unnecessary Data

In [10]:
data.duplicated().sum()

0

In [11]:
data.drop(columns=['ID','Month','Name','SSN','Monthly_Inhand_Salary'],inplace=True)
data.head()

,Customer_ID,Age,Occupation,Annual_Income,Num_Bank_Accounts,Num_Credit_Card,Interest_Rate,Num_of_Loan,Type_of_Loan,Delay_from_due_date,...,Credit_Mix,Outstanding_Debt,Credit_Utilization_Ratio,Credit_History_Age,Payment_of_Min_Amount,Total_EMI_per_month,Amount_invested_monthly,Payment_Behaviour,Monthly_Balance,Credit_Score
0,CUS_0xd40,23,Scientist,19114.12,3,4,3,4,"Auto Loan, Credit-Builder Loan, Personal Loan,...",3,...,_,809.98,26.822620,22 Years and 1 Months,No,49.574949,80.41529543900253,High_spent_Small_value_payments,312.49408867943663,Good
1,CUS_0xd40,23,Scientist,19114.12,3,4,3,4,"Auto Loan, Credit-Builder Loan, Personal Loan,...",-1,...,Good,809.98,31.944960,NaN,No,49.574949,118.28022162236736,Low_spent_Large_value_payments,284.62916249607184,Good
2,CUS_0xd40,-500,Scientist,19114.12,3,4,3,4,"Auto Loan, Credit-Builder Loan, Personal Loan,...",3,...,Good,809.98,28.609352,22 Years and 3 Months,No,49.574949,81.699521264648,Low_spent_Medium_value_payments,331.2098628537912,Good
3,CUS_0xd40,23,Scientist,19114.12,3,4,3,4,"Auto Loan, Credit-Builder Loan, Personal Loan,...",5,...,Good,809.98,31.377862,22 Years and 4 Months,No,49.574949,199.4580743910713,Low_spent_Small_value_payments,223.45130972736786,Good
4,CUS_0xd40,23,Scientist,19114.12,3,4,3,4,"Auto Loan, Credit-Builder Loan, Personal Loan,...",6,...,Good,809.98,24.797347,22 Years and 5 Months,No,49.574949,41.420153086217326,High_spent_Medium_value_payments,341.48923103222177,Good

In [12]:
data.isna().sum()

Customer_ID                     0
Age                             0
Occupation                      0
Annual_Income                   0
Num_Bank_Accounts               0
Num_Credit_Card                 0
Interest_Rate                   0
Num_of_Loan                     0
Type_of_Loan                11408
Delay_from_due_date             0
Num_of_Delayed_Payment       7002
Changed_Credit_Limit            0
Num_Credit_Inquiries         1965
Credit_Mix                      0
Outstanding_Debt                0
Credit_Utilization_Ratio        0
Credit_History_Age           9030
Payment_of_Min_Amount           0
Total_EMI_per_month             0
Amount_invested_monthly      4479
Payment_Behaviour               0
Monthly_Balance              1200
Credit_Score                    0
dtype: int64

---

# Categorical & Numerical Data

In [15]:
from sklearn.preprocessing import LabelEncoder
le =LabelEncoder()

data['Customer_ID']=le.fit_transform(data['Customer_ID'])

# We need to convert the Customer_ID into Labels to use it in the phase of preprocessing the other data

In [16]:
data.isna().sum()

Customer_ID                     0
Age                             0
Occupation                      0
Annual_Income                   0
Num_Bank_Accounts               0
Num_Credit_Card                 0
Interest_Rate                   0
Num_of_Loan                     0
Type_of_Loan                11408
Delay_from_due_date             0
Num_of_Delayed_Payment       7002
Changed_Credit_Limit            0
Num_Credit_Inquiries         1965
Credit_Mix                      0
Outstanding_Debt                0
Credit_Utilization_Ratio        0
Credit_History_Age           9030
Payment_of_Min_Amount           0
Total_EMI_per_month             0
Amount_invested_monthly      4479
Payment_Behaviour               0
Monthly_Balance              1200
Credit_Score                    0
dtype: int64

In [17]:
# Split to do Preprocessing
categorical_data =data.select_dtypes(include=['object'])
numerical_data   =data.select_dtypes(include=['number'])

print(data.shape)
print(categorical_data.shape)
print(numerical_data.shape)

(100000, 23)
(100000, 15)
(100000, 8)

In [18]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 23 columns):
 #   Column                    Non-Null Count   Dtype
---  ------                    --------------   -----
 0   Customer_ID               100000 non-null  int32
 1   Age                       100000 non-null  object
 2   Occupation                100000 non-null  object
 3   Annual_Income             100000 non-null  object
 4   Num_Bank_Accounts         100000 non-null  int64
 5   Num_Credit_Card           100000 non-null  int64
 6   Interest_Rate             100000 non-null  int64
 7   Num_of_Loan               100000 non-null  object
 8   Type_of_Loan              88592 non-null   object
 9   Delay_from_due_date       100000 non-null  int64
 10  Num_of_Delayed_Payment    92998 non-null   object
 11  Changed_Credit_Limit      100000 non-null  object
 12  Num_Credit_Inquiries      98035 non-null   float64
 13  Credit_Mix                100000 non-null  object
 14  Outstanding_Debt          100000 non-null  object
 15  Credit_Utilization_Ratio  100000 non-null  float64
 16  Credit_History_Age        90970 non-null   object
 17  Payment_of_Min_Amount     100000 non-null  object
 18  Total_EMI_per_month       100000 non-null  float64
 19  Amount_invested_monthly   95521 non-null   object
 20  Payment_Behaviour         100000 non-null  object
 21  Monthly_Balance           98800 non-null   object
 22  Credit_Score              100000 non-null  object
dtypes: float64(3), int32(1), int64(4), object(15)
memory usage: 17.2+ MB

In [19]:
pd.set_option('display.max_row',30)

categorical_columns=categorical_data.columns
for col in categorical_columns:
    print(categorical_data.loc[:,col].value_counts())
    print((categorical_data.loc[:,col].value_counts()).shape)
    print("\n\n\n\n\n\n\n\n\n")


# we need to convert the type of ( Age, Annual_income, num_of_loan, Num_of_Delayed_Payment, Changed_Credit_Limit, Outstanding_Debt,Amount_invested_monthly, Monthly_Balance, Credit_History_Age

Age
38      2833
28      2829
31      2806
26      2792
32      2749
        ...
471        1
1520       1
8663       1
3363       1
1342       1
Name: count, Length: 1788, dtype: int64
(1788,)










Occupation
_______          7062
Lawyer           6575
Architect        6355
Engineer         6350
Scientist        6299
Mechanic         6291
Accountant       6271
Developer        6235
Media_Manager    6232
Teacher          6215
Entrepreneur     6174
Doctor           6087
Journalist       6085
Manager          5973
Musician         5911
Writer           5885
Name: count, dtype: int64
(16,)










Annual_Income
36585.12     16
20867.67     16
17273.83     16
9141.63      15
33029.66     15
             ..
20269.93_     1
15157.25_     1
44955.64_     1
76650.12_     1
4262933.0     1
Name: count, Length: 18940, dtype: int64
(18940,)










Num_of_Loan
3        14386
2        14250
4        14016
0        10380
1        10083
         ...
1320_        1
103          1
1444         1
392          1
966          1
Name: count, Length: 434, dtype: int64
(434,)










Type_of_Loan
Not Specified                                                                                                                         1408
Credit-Builder Loan                                                                                                                   1280
Personal Loan                                                                                                                         1272
Debt Consolidation Loan                                                                                                               1264
Student Loan                                                                                                                          1240
                                                                                                                                      ...
Not Specified, Mortgage Loan, Auto Loan, and Payday Loan                                                                                 8
Payday Loan, Mortgage Loan, Debt Consolidation Loan, and Student Loan                                                                    8
Debt Consolidation Loan, Auto Loan, Personal Loan, Debt Consolidation Loan, Student Loan, and Credit-Builder Loan                        8
Student Loan, Auto Loan, Student Loan, Credit-Builder Loan, Home Equity Loan, Debt Consolidation Loan, and Debt Consolidation Loan       8
Personal Loan, Auto Loan, Mortgage Loan, Student Loan, and Student Loan                                                                  8
Name: count, Length: 6260, dtype: int64
(6260,)










Num_of_Delayed_Payment
19      5327
17      5261
16      5173
10      5153
18      5083
        ...
848_       1
4134       1
1530       1
1502       1
2047       1
Name: count, Length: 749, dtype: int64
(749,)










Changed_Credit_Limit
_                     2091
8.22                   133
11.5                   127
11.32                  126
7.35                   121
                      ...
-1.84                    1
0.8899999999999999       1
28.06                    1
1.5599999999999996       1
21.17                    1
Name: count, Length: 4384, dtype: int64
(4384,)










Credit_Mix
Standard    36479
Good        24337
_           20195
Bad         18989
Name: count, dtype: int64
(4,)










Outstanding_Debt
1360.45     24
460.46      23
1151.7      23
1109.03     23
467.7       16
            ..
245.46_      1
645.77_      1
174.79_      1
1181.13_     1
1013.53_     1
Name: count, Length: 13178, dtype: int64
(13178,)










Credit_History_Age
15 Years and 11 Months    446
19 Years and 4 Months     445
19 Years and 5 Months     444
17 Years and 11 Months    443
19 Years and 3 Months     441
                         ...
0 Years and 3 Months       20
0 Years and 2 Months       15
33 Years and 7 Months      14
33 Years and 8 Months      12
0 Years and 1 Months        2
Name: count, Length: 404, dtype: int64
(404,)










Payment_of_Min_Amount
Yes    52326
No     35667
NM     12007
Name: count, dtype: int64
(3,)










Amount_invested_monthly
__10000__             4305
0.0                    169
80.41529543900253        1
36.66235139442514        1
89.7384893604547         1
                      ...
36.541908593249026       1
93.45116318631192        1
140.80972223052834       1
38.73937670100975        1
167.1638651610451        1
Name: count, Length: 91049, dtype: int64
(91049,)










Payment_Behaviour
Low_spent_Small_value_payments      25513
High_spent_Medium_value_payments    17540
Low_spent_Medium_value_payments     13861
High_spent_Large_value_payments     13721
High_spent_Small_value_payments     11340
Low_spent_Large_value_payments      10425
!@9#%8                               7600
Name: count, dtype: int64
(7,)










Monthly_Balance
__-333333333333333333333333333__    9
312.49408867943663                  1
415.32532309844316                  1
252.08489793906085                  1
254.9709216273975                   1
                                   ..
366.2890379762706                   1
151.1882696261166                   1
306.75027851710234                  1
278.8720257394474                   1
393.6736955618808                   1
Name: count, Length: 98792, dtype: int64
(98792,)










Credit_Score
Standard    53174
Poor        28998
Good        17828
Name: count, dtype: int64
(3,)

> ### we need to convert the type of ( Age, Annual_income, num_of_loan, Num_of_Delayed_Payment, Changed_Credit_Limit, Outstanding_Debt, 
> ### Amount_invested_monthly, Monthly_Balance, Credit_History_Age)

# *Detect Outliers*

### Function to detect and handle the Outliers

In [23]:
def detect_outliers(data,column):
    q1=data[column].quantile(0.25)
    q3=data[column].quantile(0.75)
    IQR=q3-q1
    lower_bound=q1-IQR*1.5
    upper_bound=q3+IQR*1.5
    outliers=[]
    for value in data[column]:
        if( value> upper_bound) or (value<lower_bound):
            outliers.append(value)
    print(' column : ', column)    
    print('upper_bound is ',upper_bound,' lower_bound is ',  lower_bound)
    print('outliers : ',outliers)

In [24]:
def handle_outliers(data,column):
    q1=data[column].quantile(0.25)
    q3=data[column].quantile(0.75)
    IQR=q3-q1
    lower_bound=q1-IQR*1.5
    upper_bound=q3+IQR*1.5
    for i in data.index:
        value=data.loc[i,column]
        if(value>upper_bound):
            data.loc[i,column]=upper_bound
        elif(value<lower_bound):
            data.loc[i,column]=lower_bound
    print('Done-->')

# <b> Numerical Data </b>


## Age

In [27]:
data['Age']=data['Age'].str.replace('_', '', regex=False)
data['Age']=data['Age'].str.replace('-', '', regex=False)

In [28]:
data['Age']=pd.to_numeric(data['Age'])
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 23 columns):
 #   Column                    Non-Null Count   Dtype
---  ------                    --------------   -----
 0   Customer_ID               100000 non-null  int32
 1   Age                       100000 non-null  int64
 2   Occupation                100000 non-null  object
 3   Annual_Income             100000 non-null  object
 4   Num_Bank_Accounts         100000 non-null  int64
 5   Num_Credit_Card           100000 non-null  int64
 6   Interest_Rate             100000 non-null  int64
 7   Num_of_Loan               100000 non-null  object
 8   Type_of_Loan              88592 non-null   object
 9   Delay_from_due_date       100000 non-null  int64
 10  Num_of_Delayed_Payment    92998 non-null   object
 11  Changed_Credit_Limit      100000 non-null  object
 12  Num_Credit_Inquiries      98035 non-null   float64
 13  Credit_Mix                100000 non-null  object
 14  Outstanding_Debt          100000 non-null  object
 15  Credit_Utilization_Ratio  100000 non-null  float64
 16  Credit_History_Age        90970 non-null   object
 17  Payment_of_Min_Amount     100000 non-null  object
 18  Total_EMI_per_month       100000 non-null  float64
 19  Amount_invested_monthly   95521 non-null   object
 20  Payment_Behaviour         100000 non-null  object
 21  Monthly_Balance           98800 non-null   object
 22  Credit_Score              100000 non-null  object
dtypes: float64(3), int32(1), int64(5), object(14)
memory usage: 17.2+ MB

In [29]:
data['Age']

0         23
1         23
2        500
3         23
4         23
        ...
99995     25
99996     25
99997     25
99998     25
99999     25
Name: Age, Length: 100000, dtype: int64

In [30]:
print(data['Age'].max())
print(data['Age'].min())

8698
14

In [31]:
data["Age"].value_counts()

Age
38      2994
28      2968
31      2955
26      2945
32      2884
        ...
1908       1
4583       1
7549       1
3119       1
1342       1
Name: count, Length: 1728, dtype: int64

In [32]:
print(data['Age'].isna().sum())

0

## **This function handling outliers and invalid values based on the mean or mode of the same Customer (knowing its ID)**

In [34]:
# Step 1: Compute the mode for each Customer_ID
Customer_age = data.groupby('Customer_ID')['Age'].apply(
lambda x: x.mode().iloc[0] if not x.mode().empty else x.iloc[0])


# Step 2: Replace values with the mean for the corresponding Customer_ID
def replace_age(row, modes):
    if (row['Age'] >= 90) or (row['Age'] <= 16):
        return modes[row['Customer_ID']]
    else:
        return row['Age']

data['Age'] = data.apply(replace_age, axis=1, modes=Customer_age)
detect_outliers(data,'Age')

 column :  Age
upper_bound is  69.0  lower_bound is  -3.0
outliers :  []

---

## Annual_Income

In [38]:
data['Annual_Income']=data['Annual_Income'].str.replace('_', '', regex=False)
data['Annual_Income']=pd.to_numeric(data['Annual_Income'])

In [39]:
print(data['Annual_Income'].max())
print(data['Annual_Income'].min())

24198062.0
7005.93

In [40]:
data["Annual_Income"].value_counts()

Annual_Income
17816.75       16
22434.16       16
40341.16       16
17273.83       16
109945.32      16
               ..
17079092.00     1
1910572.00      1
20179076.00     1
7980216.00      1
8299495.00      1
Name: count, Length: 13487, dtype: int64

In [41]:
data["Annual_Income"].unique()

array([ 19114.12,  34847.84, 143162.64, ...,  37188.1 ,  20002.88,
        39628.99])

In [42]:
print(data['Annual_Income'].isna().sum())

0

---

## Num_of_Loan

In [45]:
data['Num_of_Loan']=data['Num_of_Loan'].str.replace('_', '', regex=False)
data['Num_of_Loan']=data['Num_of_Loan'].str.replace('-', '', regex=False)

In [46]:
data['Num_of_Loan']=pd.to_numeric(data['Num_of_Loan'])
print(data['Num_of_Loan'].max())
print(data['Num_of_Loan'].min())

1496
0

In [47]:
data["Num_of_Loan"].value_counts()

Num_of_Loan
3       15104
2       15032
4       14743
0       10930
1       10606
        ...
321         1
1439        1
663         1
613         1
966         1
Name: count, Length: 413, dtype: int64

In [48]:
data["Num_of_Loan"].unique()

array([   4,    1,    3,  967,  100,    0,    2,    7,    5,    6,    8,
          9, 1464,  622,  352,  472, 1017,  945,  146,  563,  341,  444,
        720, 1485,   49,  737, 1106,  466,  728,  313,  843,  597,  617,
        119,  663,  640,   92, 1019,  501, 1302,   39,  716,  848,  931,
       1214,  186,  424, 1001, 1110, 1152,  457, 1433, 1187,   52, 1480,
       1047, 1035, 1347,   33,  193,  699,  329, 1451,  484,  132,  649,
        995,  545,  684, 1135, 1094, 1204,  654,   58,  348,  614, 1363,
        323, 1406, 1348,  430,  153, 1461,  905, 1312, 1424, 1154,   95,
       1353, 1228,  819, 1006,  795,  359, 1209,  590,  696, 1185, 1465,
        911, 1181,   70,  816, 1369,  143, 1416,  455,   55, 1096, 1474,
        420, 1131,  904,   89, 1259,  527, 1241,  449,  983,  418,  319,
         23,  238,  638,  138,  235,  280, 1070, 1484,  274,  494, 1459,
        404, 1354, 1495, 1391,  601, 1313, 1319,  898,  231,  752,  174,
        961, 1046,  834,  284,  438,  288, 1463, 1151,  719,  198, 1015,
        855,  841,  392, 1444,  103, 1320,  745,  172,  252,  630,  241,
         31,  405, 1217, 1030, 1257,  137,  157,  164, 1088, 1236,  777,
       1048,  613,  330, 1439,  321,  661,  952,  939,  562, 1202,  302,
        943,  394,  955, 1318,  936,  781, 1329, 1365,  860,  217,  191,
         32,  282,  351, 1387,  757,  416,  833,  292, 1225, 1227,  639,
        859,  243,  267,  510,  332,  996,  311,  492,  820,  336,  123,
        540,  131, 1311, 1441,  895,  891,   50,  940,  935,  596,   29,
       1182, 1129, 1014,  251,  365,  291, 1447,  742, 1085,  148,  462,
        832,  881, 1412,  785, 1127,  910,  538,  999,  733,  101,  237,
         87,  659,  633,  387,  447,  629,  831, 1384,  773,  621, 1419,
        289,  285, 1393,   27, 1359, 1482, 1189, 1294,  201,  579,  814,
        141,  581, 1171,  295,  290,  433,  679, 1040, 1054, 1430, 1023,
       1077, 1457, 1150,  701, 1382,  889,  437,  372, 1222,  126, 1159,
        868,   19, 1297,  227,  190,  809, 1216, 1074,  571,  520, 1274,
       1340,  991,  316,  697,  926,  873, 1002,  378,   65,  875,  867,
        548,  652, 1372,  606, 1036, 1300,   17, 1178,  802, 1219, 1271,
       1137, 1496,  439,  196,  636,  192,  228, 1053,  229,  753, 1296,
       1371,  254,  863,  464,  515,  838, 1160, 1289, 1298,  799,  182,
        574,  242,  415,  869,  958,   54, 1265,  656,  275,  778,  208,
        147,  350,  507,  463,  497,  927,  653,  662,  529,  635, 1027,
        897, 1039, 1345,  924, 1279,  546, 1112, 1210,  526,  300, 1103,
        504,  136, 1400,   78,  686, 1091,  344,  215,   84,  628, 1470,
        968, 1478,   83, 1196, 1307, 1132, 1008,  917,  657,   56,   18,
         41,  801,  978,  216,  349,  966], dtype=int64)

In [49]:
print(data['Num_of_Loan'].isna().sum())

0

In [50]:
# Step 1: Compute the mode for each Customer_ID
Customer_num_loan = data.groupby('Customer_ID')['Num_of_Loan'].apply(
lambda x: x.mode().iloc[0] if not x.mode().empty else x.iloc[0])

#Customer_age = data.groupby('Customer_ID')['Num_of_Loan'].mean()


# Step 2: Replace values with the mean for the corresponding Customer_ID
def replace_Customer_num_loan(row, modes_replace_Customer_num_loan):
    if (row['Num_of_Loan'] >= 15) or (row['Num_of_Loan'] <= 0):
        return modes_replace_Customer_num_loan[row['Customer_ID']]
    else:
        return row['Num_of_Loan']

data['Num_of_Loan'] = data.apply(replace_Customer_num_loan, axis=1, modes_replace_Customer_num_loan=Customer_num_loan)
detect_outliers(data,'Num_of_Loan')

 column :  Num_of_Loan
upper_bound is  9.5  lower_bound is  -2.5
outliers :  []

---

## Num_of_Delayed_Payment

In [53]:
data['Num_of_Delayed_Payment']=data['Num_of_Delayed_Payment'].str.replace('_', '', regex=False)
data['Num_of_Delayed_Payment']=data['Num_of_Delayed_Payment'].str.replace('-', '', regex=False)
#data['Num_of_Delayed_Payment'].fillna(8888 ,inplace=True)

In [54]:
data['Num_of_Delayed_Payment'].isna().sum()

7002

In [55]:
data['Num_of_Delayed_Payment']=pd.to_numeric(data['Num_of_Delayed_Payment'])

print(data['Num_of_Delayed_Payment'].max())
print(data['Num_of_Delayed_Payment'].min())

4397.0
0.0

In [56]:
pd.set_option('display.max_row',30)
print(data["Num_of_Delayed_Payment"].value_counts())

Num_of_Delayed_Payment
19.0      5481
17.0      5412
16.0      5312
10.0      5309
15.0      5237
          ...
848.0        1
4134.0       1
1530.0       1
1502.0       1
2047.0       1
Name: count, Length: 708, dtype: int64

In [57]:
# Step 1: Compute the mode for each Customer_ID
Customer_Delayed = data.groupby('Customer_ID')['Num_of_Delayed_Payment'].apply(
    lambda x: x.mode().iloc[0] if not x.mode().empty else x.iloc[0]
)


# Step 2: Replace values with the mean for the corresponding Customer_ID
def replace_Customer_Delayed(row, customer_loan_modes):
    if  pd.isnull(row['Num_of_Delayed_Payment']) or row['Num_of_Delayed_Payment'] > 30 or row['Num_of_Delayed_Payment'] <= 0  :
        return customer_loan_modes[row['Customer_ID']]
    else:
        return row['Num_of_Delayed_Payment']

data['Num_of_Delayed_Payment'] = data.apply(replace_Customer_Delayed, axis=1, customer_loan_modes=Customer_Delayed)
detect_outliers(data,'Num_of_Delayed_Payment')

 column :  Num_of_Delayed_Payment
upper_bound is  31.5  lower_bound is  -4.5
outliers :  []

In [58]:
handle_outliers(data,'Num_of_Delayed_Payment')

Done-->

In [59]:
data["Num_of_Delayed_Payment"].unique()

array([ 7.,  4.,  8.,  6.,  1.,  3.,  5.,  9., 15., 12., 17., 10.,  2.,
       11., 14.,  0., 20., 22., 13., 16., 19., 18., 21., 23., 24., 26.,
       25., 27., 28.])

---

## Changed_Credit_Limit

In [62]:
data['Changed_Credit_Limit']=data['Changed_Credit_Limit'].str.replace('_', '', regex=False)

data['Changed_Credit_Limit']=pd.to_numeric(data['Changed_Credit_Limit'])

In [63]:
print(data['Changed_Credit_Limit'].max())
print(data['Changed_Credit_Limit'].min())

36.97
-6.49

In [64]:
data['Changed_Credit_Limit'].value_counts()

Changed_Credit_Limit
 8.22     133
 11.50    127
 11.32    126
 10.06    121
 7.35     121
         ...
 31.56      1
 32.56      1
 20.66      1
-0.72       1
 21.17      1
Name: count, Length: 4375, dtype: int64

In [65]:
data["Changed_Credit_Limit"].unique()

array([11.27,   nan,  6.27, ..., 17.51, 25.16, 21.17])

In [66]:
print(data['Changed_Credit_Limit'].isna().sum())

2091

In [67]:
# Step 1: Compute the mean for each Customer_ID

Customer_changed = data.groupby('Customer_ID')['Changed_Credit_Limit'].mean()

# Step 2: Replace values 
def replace_Customer_changed(row, customer_change):
    if pd.isnull(row['Changed_Credit_Limit'])  or row['Changed_Credit_Limit'] < 0 :        
        return customer_change[row['Customer_ID']]
    else:
        return row['Changed_Credit_Limit']

data['Changed_Credit_Limit'] = data.apply(replace_Customer_changed, axis=1, customer_change=Customer_changed)
#detect_outliers(data,'Changed_Credit_Limit')

---

## Outstanding_Debt

In [70]:
data['Outstanding_Debt']=data['Outstanding_Debt'].str.replace('_', '', regex=False)

data['Outstanding_Debt']=pd.to_numeric(data['Outstanding_Debt'])

In [71]:
print(data['Outstanding_Debt'].max())
print(data['Outstanding_Debt'].min())

4998.07
0.23

In [72]:
data['Outstanding_Debt'].value_counts()

Outstanding_Debt
1109.03    24
1151.70    24
1360.45    24
460.46     24
1058.13    16
           ..
4230.04     8
641.99      8
98.61       8
2614.48     8
502.38      8
Name: count, Length: 12203, dtype: int64

In [73]:
data["Outstanding_Debt"].unique()

array([ 809.98,  605.03, 1303.01, ...,  620.64, 3571.7 ,  502.38])

In [74]:
print(data['Outstanding_Debt'].isna().sum())

0

In [75]:
# Step 1: Compute the mean for each Customer_ID

Customer_Debt = data.groupby('Customer_ID')['Outstanding_Debt'].mean()

# Step 2: Replace values 
def replace_Customer_Debt(row, customer_debt):
    if pd.isnull(row['Outstanding_Debt'])  or row['Outstanding_Debt'] < 0 :        
        return customer_debt[row['Customer_ID']]
    else:
        return row['Outstanding_Debt']

data['Outstanding_Debt'] = data.apply(replace_Customer_Debt, axis=1, customer_debt=Customer_Debt)
#detect_outliers(data,'Outstanding_Debt')

---

## Amount_invested_monthly

In [78]:
data['Amount_invested_monthly']=data['Amount_invested_monthly'].str.replace('_', '', regex=False)

data['Amount_invested_monthly']=pd.to_numeric(data['Amount_invested_monthly'])

In [79]:
print(data['Amount_invested_monthly'].max())
print(data['Amount_invested_monthly'].min())

10000.0
0.0

In [80]:
data['Amount_invested_monthly'].value_counts()

Amount_invested_monthly
10000.000000    4305
0.000000         169
80.415295          1
36.662351          1
89.738489          1
                ...
36.541909          1
93.451163          1
140.809722         1
38.739377          1
167.163865         1
Name: count, Length: 91049, dtype: int64

In [81]:
data["Amount_invested_monthly"].unique()

array([ 80.41529544, 118.28022162,  81.69952126, ...,  24.02847745,
       251.6725822 , 167.16386516])

In [82]:
print(data['Amount_invested_monthly'].isna().sum())

4479

In [83]:
# Step 1: Compute the mode for each Customer_ID
Customer_Amount = data.groupby('Customer_ID')['Amount_invested_monthly'].apply(
    lambda x: x.mode().iloc[0] if not x.mode().empty else x.iloc[0]
)


# Step 2: Replace values 
def replace_amount(row, customer_amount_modes):
    if pd.isnull(row['Amount_invested_monthly'])  or row['Amount_invested_monthly'] < 0 :        
        return customer_amount_modes[row['Customer_ID']]
    else:
        return row['Amount_invested_monthly']

data['Amount_invested_monthly'] = data.apply(replace_amount, axis=1, customer_amount_modes=Customer_Amount)
#detect_outliers(data,'Amount_invested_monthly')

In [84]:
print(data['Amount_invested_monthly'].isna().sum())

0

---

## Monthly_Balance

In [87]:
data['Monthly_Balance']=data['Monthly_Balance'].str.replace('_', '', regex=False)
data['Monthly_Balance'] = data['Monthly_Balance'].str[:8]
data['Monthly_Balance']=pd.to_numeric(data['Monthly_Balance'])

In [88]:
print(data['Monthly_Balance'].max())
print(data['Monthly_Balance'].min())

1602.04
-3333333.0

In [89]:
data['Monthly_Balance'].value_counts()

Monthly_Balance
-3.333333e+06    9
 2.756835e+02    3
 2.496578e+02    3
 2.843030e+02    3
 3.111156e+02    3
                ..
 4.380814e+02    1
 4.618103e+02    1
 4.730185e+02    1
 4.454481e+02    1
 2.146149e+02    1
Name: count, Length: 96102, dtype: int64

In [90]:
data["Monthly_Balance"].unique()

array([312.494 , 284.6291, 331.2098, ..., 448.4264, 343.7939, 214.6149])

In [91]:
print(data['Monthly_Balance'].isna().sum())

2868

In [92]:
# Step 1: Compute the mode for each Customer_ID
Customer_Monthly_Balance = data.groupby('Customer_ID')['Monthly_Balance'].mean()

# Step 2: Replace values 
def replace_balance(row, customer_balance_modes):
    if pd.isnull(row['Monthly_Balance'])  or row['Monthly_Balance'] < 0 :        
        return customer_balance_modes[row['Customer_ID']]
    else:
        return row['Monthly_Balance']

data['Monthly_Balance'] = data.apply(replace_balance, axis=1, customer_balance_modes=Customer_Monthly_Balance)
#detect_outliers(data,'Monthly_Balance')

In [93]:
print(data['Monthly_Balance'].isna().sum())
#detect_outliers(data,'Monthly_Balance')

data['Monthly_Balance'].dropna()
print(data['Monthly_Balance'].isna().sum())

1696
1696

In [94]:
data_invalid_indicies=data[(data['Monthly_Balance'].isna()) ].index.to_list()
data = data.drop(data_invalid_indicies).reset_index(drop=True)
print(data['Monthly_Balance'].isna().sum())
data.shape

0

(98304, 23)

---

## Credit_History_Age

In [97]:
data['Credit_History_Age']

0        22 Years and 1 Months
1                          NaN
2        22 Years and 3 Months
3        22 Years and 4 Months
4        22 Years and 5 Months
                 ...
98299    25 Years and 2 Months
98300    25 Years and 3 Months
98301                      NaN
98302    25 Years and 5 Months
98303    25 Years and 6 Months
Name: Credit_History_Age, Length: 98304, dtype: object

In [98]:
import re

# Function to extract years and months
def extract_years_months(age_str):
    if pd.isna(age_str):
        return np.nan, np.nan
    match = re.match(r'(\d+) Years and (\d+) Months', age_str)
    if match:
        years, months = map(int, match.groups())
        return years, months
    return np.nan, np.nan

# Apply the function to the 'age' column
data[['Years', 'Months']] = data['Credit_History_Age'].apply(lambda x: pd.Series(extract_years_months(x)))

In [99]:
# Function to convert years and months to total months
def to_total_months(years, months):
    return years * 12 + months

# Apply the conversion to create a 'TotalMonths' column
data['Credit_History_Age_Months'] = data.apply(lambda row: to_total_months(row['Years'], row['Months']), axis=1)

In [100]:
data.drop(columns=['Years', 'Months','Credit_History_Age'],inplace=True)

In [101]:
data['Credit_History_Age_Months']=pd.to_numeric(data['Credit_History_Age_Months'])

In [102]:
print(data['Credit_History_Age_Months'].max())
print(data['Credit_History_Age_Months'].min())

404.0
1.0

In [103]:
data['Credit_History_Age_Months'].value_counts()

Credit_History_Age_Months
233.0    437
215.0    437
232.0    437
191.0    436
231.0    435
        ...
3.0       18
403.0     14
2.0       14
404.0     12
1.0        2
Name: count, Length: 404, dtype: int64

In [104]:
data["Credit_History_Age_Months"].unique()

array([265.,  nan, 267., 268., 269., 270., 271., 319., 320., 321., 322.,
       323., 324., 325., 326., 213., 214., 215., 217., 218., 219., 220.,
       207., 208., 209., 210., 211., 212., 368., 369., 370., 371., 372.,
       373., 374., 375., 384., 386., 387., 389., 390., 367., 176., 177.,
       178., 179., 180., 181., 182., 256., 257., 258., 259., 260., 261.,
       262., 263., 318., 230., 231., 232., 233., 234., 235., 236., 305.,
       306., 307., 308., 309., 310., 311., 312., 327., 328., 329., 107.,
       108., 109., 110., 111., 112., 114., 221., 222., 224., 225., 202.,
       203., 204., 205., 206., 350., 351., 352., 354., 356., 357.,  77.,
        78.,  79.,  80.,  81.,  82.,  83.,  84., 330., 331., 332., 333.,
       223., 237., 238., 121., 122., 123., 124., 125., 126., 127., 128.,
       393., 394., 395., 396., 397., 400., 147., 148., 149., 150., 151.,
       152., 154., 153., 164., 167., 168., 169., 170., 171., 363., 364.,
       365., 366., 105., 106., 226., 227., 228., 229., 104., 157., 158.,
       159., 161., 162., 163., 264., 313., 314., 160., 165., 335., 336.,
       337., 338., 339., 340., 341., 342.,  94.,  95.,  96.,  97.,  98.,
        99., 100., 101., 291., 292., 293., 294., 295., 296., 297.,  14.,
        15.,  16.,  17.,  18.,  19.,  20., 131., 132., 133., 134., 135.,
       136., 137., 138., 239., 240., 241., 129., 130., 172., 173., 174.,
       248., 249., 250., 251., 252., 253., 254., 255.,   4.,   5.,   6.,
         8.,   9.,  10., 379., 380., 381., 382., 383., 385., 155., 156.,
       334., 139., 140., 141., 142., 298., 299., 300., 301., 302., 303.,
       216., 376., 377., 378.,  62.,  63.,  64.,  65.,  66.,  67.,  68.,
        69.,  35.,  36.,  37.,  38.,  39.,  40.,  41.,  42., 196., 197.,
       198., 199., 200., 201., 275., 276., 278., 279., 280., 281., 282.,
       102., 103.,  53.,  54.,  55.,  56.,  57.,  58.,  59.,  60., 392.,
       398., 399., 146., 388., 359., 360., 362., 315., 316., 317.,  90.,
        91.,  92.,  93., 343., 344., 345., 346., 353., 355., 242., 243.,
       244., 245., 246., 247., 347., 348., 166.,  21.,  22.,  23., 401.,
       402., 403., 404., 349.,  61.,  70.,  71.,  72.,  73.,  74.,  75.,
       273., 274., 277., 266., 184., 185., 186., 187., 188., 189., 190.,
       191.,  27.,  28.,  29.,  30.,  31.,  32.,  33.,  34.,  24., 194.,
       195., 272., 113., 115., 116., 117., 143., 144., 145., 290., 192.,
       193., 175., 304., 183.,  85.,  86.,  87.,  88.,  89., 283., 284.,
       285., 361., 358., 118., 119., 120.,  26., 286., 287., 288., 289.,
        76.,   1.,   2.,   3.,   7.,  44., 391.,  43.,  45.,  46.,  11.,
        12.,  13.,  52.,  47.,  48.,  49.,  50.,  51.,  25.])

In [105]:
print(data['Credit_History_Age_Months'].isna().sum())

8860

In [106]:
# Step 1: Compute the mean for each Customer_ID
Customer_history = data.groupby('Customer_ID')['Credit_History_Age_Months'].mean()

# Step 2: Replace values 
def replace_history(row, customer_history):
    if pd.isnull(row['Credit_History_Age_Months'])  or row['Credit_History_Age_Months'] < 0 :        
        return customer_history[row['Customer_ID']]
    else:
        return row['Credit_History_Age_Months']

data['Credit_History_Age_Months'] = data.apply(replace_history, axis=1, customer_history=Customer_history)
detect_outliers(data,'Credit_History_Age_Months')

 column :  Credit_History_Age_Months
upper_bound is  537.5  lower_bound is  -90.5
outliers :  []

In [107]:
print(data['Monthly_Balance'].isna().sum())
#detect_outliers(data,'Monthly_Balance')

0

---

## Num_Bank_Accounts

In [110]:
pd.set_option('display.max_row',30)
data['Num_Bank_Accounts']

0           3
1           3
2           3
3           3
4           3
         ...
98299       0
98300    1194
98301       0
98302       0
98303       0
Name: Num_Bank_Accounts, Length: 98304, dtype: int64

In [111]:
data['Num_Bank_Accounts'].isna().sum()

0

In [112]:
data['Num_Bank_Accounts'].unique()

array([   3,    2,    1,    7,    4,    0,    8,    5,    6,    9,   10,
       1414, 1231,   67,  572, 1488,   91,  528, 1647, 1696, 1338,  649,
        889, 1668,  685,  857,  975, 1496, 1534, 1620,   37, 1388, 1429,
       1332, 1588,  120, 1777, 1096,  803,  494,  744, 1139,  831, 1613,
        741,  121,  665, 1748, 1644,  823, 1356, 1651,   87,  711,  450,
        210, 1671, 1722,  648,  672, 1662, 1495,  510,  666,  429, 1131,
       1434,  980, 1026,  526,  718, 1300, 1312, 1315,  501, 1566,  480,
       1042,  322,  628, 1016,  333, 1265,  791,  427,  563,  905, 1190,
       1036, 1611,   38,  619,  555, 1769,  280,  752, 1201,  812, 1487,
        222,  212, 1019, 1222,  610, 1714, 1308,  525, 1158, 1115, 1616,
        754, 1601,  797, 1577,  521,  703,  933,  959,  809, 1089, 1656,
       1113, 1715,  964, 1533, 1789,  871,  434, 1295,  565, 1724,  603,
        677,  541,  698, 1101,  464, 1539, 1462, 1011, 1257, 1727,   45,
        244, 1266,  897,  535,  484,  331,  675,  826,  946, 1675,  105,
       1327,  845,  549,  473,  710,  527,  908,   68, 1628,  371,  445,
       1168,  868,  687,  455, 1003,   26, 1526,  618,  598,  351, 1342,
       1783,  683, 1557, 1335,  416, 1747,  137, 1475,  373,  338,  942,
        170,  973, 1605, 1478,  386, 1448, 1033, 1225,  596, 1731, 1214,
       1481, 1105,  580,  347,  108,  148, 1001, 1467, 1114, 1000,  632,
        246, 1032, 1394,  689,  482, 1303,  720,  574,  588, 1358,  650,
        708,  179,  844, 1140,  335,   60,  732, 1494, 1436,  820,   28,
       1576,  818,  794,  731,  534,  556,  691, 1197, 1155, 1255, 1763,
        769, 1124,  819,  318, 1418,  882,   61,  264,  194, 1798,  611,
        840,  505, 1110,  719, 1065,  195,  584,  550, 1014, 1022,  903,
        976,   31,  417, 1423, 1148,  616,  786, 1424,   55, 1061, 1293,
        342,   43, 1540,  488, 1122, 1274, 1075,  722, 1268,   41,  814,
       1564, 1390, 1141,  497,  224, 1135,  441,  374,   74,  314, 1408,
        475, 1015,  681, 1236,   59, 1425, 1637, 1240,  299, 1657, 1123,
       1091, 1264, 1561, 1632, 1562,  305, 1318, 1217, 1699, 1070,  864,
       1391,  112,  860,  595,  229, 1624, 1051,  821, 1794, 1565,  397,
       1368, 1353,  508, 1725, 1413, 1239,  847, 1317,  570,   -1,  302,
        456,  198,  122,  832,  167, 1547, 1666, 1241,  275,  566, 1779,
        201,  334, 1169,  834, 1174, 1040,  530, 1676, 1468, 1093,  706,
        489, 1592,  688,  830, 1784, 1543, 1600, 1178,  228,  483, 1501,
        950,  548,  870, 1211,  604,  804,  129,  540, 1702, 1636, 1680,
       1443, 1252,  499,  180,  702,  885, 1652,  795,  938,  833, 1654,
       1793,  303, 1621, 1516, 1138,   32,  160, 1491,   83,  423,  928,
        339,  931,  243, 1756,  583, 1695,  274,  955,  430, 1247,  490,
        726,  987,   42, 1626, 1470, 1739,  887,  211,  385, 1221,  753,
        324,  406, 1677, 1567,  785,  182, 1079,  184, 1771, 1048, 1069,
        561,  589, 1634,   70, 1371,  647, 1153,  239,  801, 1279, 1287,
        425, 1589,  929, 1511, 1765, 1047, 1005, 1337,  981, 1766,  805,
       1574, 1638,  186,   99,  288, 1650,  974,  996, 1595, 1594,  865,
        203, 1440,  448,  285,   94,  875,  916, 1733,  240,  330,   79,
         82,  135, 1043,  142, 1235, 1569, 1741, 1461,  560, 1551,  409,
        418, 1017,  892,  354,  124,  935,  313, 1363,  232, 1200, 1184,
       1432, 1479, 1407, 1080, 1719, 1024,  970,  761,  158,  312, 1060,
        684,  696, 1520, 1352, 1502,  936,  485,  350, 1560, 1166, 1013,
         34, 1691,  715, 1570, 1751, 1503, 1194, 1558,  411,  298,  260,
        308,  796, 1442,  912, 1256,  746,  435,  620, 1774, 1181, 1323,
        837,  307, 1430,   53, 1447,  259,  921,  328, 1034,  353,  822,
        654,  829,  609,  166,  136,  172, 1306, 1028,  808,  270, 1072,
        514,  156, 1331, 1630,  462, 1310, 1210,  265,   50, 1355,  394,
       1393,  226,  991,  368, 1018, 1037,  627, 1744,  523,  894,  944,
       1730, 1076, 1094, 1617,  449,  678, 1164,   30,  817, 1568,  607,
        709, 1230,  606, 1480,   29, 1522, 1670,   49,  626, 1641, 1712,
       1370, 1782,  119, 1137, 1277,   35,  947,  851, 1041, 1583, 1536,
        575,  196,  143,   33,  383,   57,  621,  230,  162,  352, 1504,
       1250,   39,  511, 1364,  918, 1665,  734, 1320,  316,  771,  705,
       1435,  304,  116, 1553,  424,  493, 1530, 1195, 1604,  624, 1599,
        782, 1606, 1622, 1285,  657, 1275, 1291, 1402,  420,  932,  468,
        442, 1145,   93, 1218,  283,  292,  927, 1711, 1422,  364, 1398,
        594,  789, 1350,  676,  216, 1012, 1426,  717, 1095, 1786,  850,
        777,  375,  356,  701, 1325,  290, 1775,  467, 1365, 1549,  848,
       1453,   84, 1458,  888,  770, 1591,  582,   40, 1261, 1764, 1067,
        145,  471,  476, 1128,  967,  622,  641,  539,  858,  295, 1395,
       1517, 1297, 1126,  926,  157, 1377,  993,  125,  340,  271, 1669,
        272,  979,  707,  564,  997,  447, 1578, 1465,  415,  714, 1276,
         18, 1316,  587,  245,  446,  978, 1002, 1631,  341, 1307,  524,
       1267,  103,  242, 1378, 1328, 1294, 1309,  724,  197,  999,  547,
       1100, 1456,   77, 1506, 1472,  460,   11, 1420,  218, 1253,  392,
        670, 1321,  100, 1205,  443,   92,  811,  774,  159, 1770,  972,
       1157, 1102,  217,  358, 1473,  440,  140, 1361,  481,  512, 1117,
        300, 1263, 1581,  901, 1298,  310,  637,  758, 1734, 1288,  326,
       1678, 1444, 1344, 1379,  828,  982,  104,  317, 1529, 1627,  115,
        645, 1404,  940, 1305, 1049, 1645, 1466,  175, 1165, 1419, 1031,
        581, 1580,  854,  725, 1655, 1134,  569, 1387, 1381, 1760,  360,
       1735, 1146, 1411,  969, 1281,  591,  327,  466,  667,  147,  109,
        784, 1396, 1349,  839, 1284,  802,   97,  281, 1382, 1039, 1483,
        376, 1249, 1207, 1213, 1219, 1345, 1523,  949, 1063,  983,  886,
       1151,  992, 1107, 1314,  151,   69, 1489,  695,  738,  444, 1525,
        825,  506,  518, 1077, 1354,  713,  690,  861, 1389,  968,  421,
        907,  205,  856,   72,  651,  161,  867,  971, 1078,   64, 1701,
        546, 1216,   27, 1709,  193, 1528,  957,  577,  346, 1416,  396,
       1182,  652, 1083, 1778,  680, 1754, 1544], dtype=int64)

In [113]:
#tep 1: Compute the mode for each Customer_ID
Customer_bank = data.groupby('Customer_ID')['Num_Bank_Accounts'].apply(
    lambda x: x.mode().iloc[0] if not x.mode().empty else x.iloc[0]
)

#Customer_bank = data.groupby('Customer_ID')['Num_Bank_Accounts'].mean()

# Step 2: Replace values 
def replace_bank_account(row, customer_bank):
    if pd.isnull(row['Num_Bank_Accounts'])  or row['Num_Bank_Accounts'] > 50 :        
        return customer_bank[row['Customer_ID']]
    else:
        return row['Num_Bank_Accounts']

data['Num_Bank_Accounts'] = data.apply(replace_bank_account, axis=1, customer_bank=Customer_bank)
detect_outliers(data,'Num_Bank_Accounts')

 column :  Num_Bank_Accounts
upper_bound is  13.0  lower_bound is  -3.0
outliers :  [37, 38, 45, 26, 28, 31, 37, 43, 41, 32, 42, 34, 50, 28, 30, 29, 49, 35, 33, 39, 34, 43, 39, 43, 40, 28, 18, 37, 34, 39, 42, 43, 33, 27, 34]

In [114]:
print(data['Num_Bank_Accounts'].isna().sum())

0

---

## Num_Credit_Card

In [117]:
data['Num_Credit_Card']

0        4
1        4
2        4
3        4
4        4
        ..
98299    4
98300    4
98301    4
98302    4
98303    4
Name: Num_Credit_Card, Length: 98304, dtype: int64

In [118]:
data['Num_Credit_Card'].isna().sum()

0

In [119]:
data['Num_Credit_Card'].unique()

array([   4, 1385,    5, ...,  326,  389,  699], dtype=int64)

In [120]:
# Step 1: Compute the mode for each Customer_ID
Customer_credit = data.groupby('Customer_ID')['Num_Credit_Card'].apply(
    lambda x: x.mode().iloc[0] if not x.mode().empty else x.iloc[0]
)


# Step 2: Replace values 
def replace_credit(row, customer_credit_modes):
    if pd.isnull(row['Num_Credit_Card'])  or row['Num_Credit_Card'] > 30 or row['Num_Credit_Card'] <= 0:        
        return customer_credit_modes[row['Customer_ID']]
    else:
        return row['Num_Credit_Card']

data['Num_Credit_Card'] = data.apply(replace_credit, axis=1, customer_credit_modes=Customer_credit)
detect_outliers(data,'Num_Credit_Card')


data.shape

 column :  Num_Credit_Card
upper_bound is  11.5  lower_bound is  -0.5
outliers :  [25, 17, 25, 28, 25, 25, 29, 22, 15, 15, 27, 26, 27, 18, 16, 25, 24, 16, 20, 28, 21, 22, 28, 15, 28, 29]

(98304, 23)

In [121]:
print(data['Num_Credit_Card'].isna().sum())
detect_outliers(data,'Num_Credit_Card')

0
 column :  Num_Credit_Card
upper_bound is  11.5  lower_bound is  -0.5
outliers :  [25, 17, 25, 28, 25, 25, 29, 22, 15, 15, 27, 26, 27, 18, 16, 25, 24, 16, 20, 28, 21, 22, 28, 15, 28, 29]

---

## Interest_Rate

In [124]:
data['Interest_Rate']

0        3
1        3
2        3
3        3
4        3
        ..
98299    4
98300    4
98301    4
98302    4
98303    4
Name: Interest_Rate, Length: 98304, dtype: int64

In [125]:
data['Interest_Rate'].isna().sum()

0

In [126]:
print(data['Interest_Rate'].max())
print(data['Interest_Rate'].min())

5797
1

In [127]:
data['Interest_Rate'].unique()

array([   3,    6,    8, ..., 1079, 2337, 1426], dtype=int64)

In [128]:
# Step 1: Compute the mode for each Customer_ID
Customer_rate = data.groupby('Customer_ID')['Interest_Rate'].apply(
    lambda x: x.mode().iloc[0] if not x.mode().empty else x.iloc[0]
)


# Step 2: Replace values 
def replace_rate(row, customer_rate_modes):
    if pd.isnull(row['Interest_Rate'])  or row['Interest_Rate'] > 34 :        
        return customer_rate_modes[row['Customer_ID']]
    else:
        return row['Interest_Rate']

data['Interest_Rate'] = data.apply(replace_rate, axis=1, customer_rate_modes=Customer_rate)
detect_outliers(data,'Interest_Rate')


data.shape

 column :  Interest_Rate
upper_bound is  39.5  lower_bound is  -12.5
outliers :  []

(98304, 23)

---

## Delay_from_due_date

In [131]:
data['Delay_from_due_date']

0        3
1       -1
2        3
3        5
4        6
        ..
98299    9
98300    9
98301    9
98302    9
98303    9
Name: Delay_from_due_date, Length: 98304, dtype: int64

In [132]:
data['Delay_from_due_date'].isna().sum()

0

In [133]:
print(data['Delay_from_due_date'].max())
print(data['Delay_from_due_date'].min())

67
-5

In [134]:
data['Delay_from_due_date'].unique()

array([ 3, -1,  5,  6,  8,  7, 13, 10,  0,  4,  9,  1, 12, 11, 30, 31, 34,
       27, 14,  2, -2, 16, 17, 15, 23, 22, 21, 18, 19, 52, 51, 48, 53, 26,
       43, 28, 25, 20, 47, 46, 49, 24, 61, 29, 50, 58, 45, 59, 55, 56, 57,
       54, 62, 65, 64, 67, 36, 41, 33, 32, 39, 44, 42, 60, 35, 38, -3, 63,
       40, 37, -5, -4, 66], dtype=int64)

In [135]:
# Step 1: Compute the mode for each Customer_ID
Customer_date = data.groupby('Customer_ID')['Delay_from_due_date'].apply(
    lambda x: x.mode().iloc[0] if not x.mode().empty else x.iloc[0]
)


# Step 2: Replace values 
def replace_date(row, customer_date_delay_modes):
    if pd.isnull(row['Delay_from_due_date'])  or row['Delay_from_due_date'] < 0 :        
        return customer_date_delay_modes[row['Customer_ID']]
    else:
        return row['Delay_from_due_date']

data['Delay_from_due_date'] = data.apply(replace_date, axis=1, customer_date_delay_modes=Customer_date)
#detect_outliers(data,'Delay_from_due_date')


data.shape

(98304, 23)

In [136]:
data_invalid_indicies=data[(data['Delay_from_due_date']<0) ].index.to_list()
data = data.drop(data_invalid_indicies).reset_index(drop=True)
data.shape

(98283, 23)

---

## Num_Credit_Inquiries

In [139]:
pd.set_option('display.max_row',30)

data['Num_Credit_Inquiries'].value_counts()

Num_Credit_Inquiries
4.0       11071
3.0        8749
6.0        7946
7.0        7909
2.0        7810
          ...
699.0         1
449.0         1
530.0         1
1793.0        1
2274.0        1
Name: count, Length: 1210, dtype: int64

In [140]:
data['Num_Credit_Inquiries'].isna().sum()

1927

In [141]:
data['Num_Credit_Inquiries'].unique()

array([4.000e+00, 2.000e+00, 3.000e+00, ..., 7.580e+02, 1.388e+03,
       2.274e+03])

In [142]:
print(data['Num_Credit_Inquiries'].max())
print(data['Num_Credit_Inquiries'].min())

2597.0
0.0

In [143]:
# Step 1: Compute the mode for each Customer_ID
Customer_inq = data.groupby('Customer_ID')['Num_Credit_Card'].mean()


# Step 2: Replace values 
def replace_inq(row, customer_inq_modes):
    if pd.isnull(row['Num_Credit_Inquiries'])  or (row['Num_Credit_Inquiries'] < 0) or (row['Num_Credit_Inquiries'] > 55) :        
        return customer_inq_modes[row['Customer_ID']]
    else:
        return row['Num_Credit_Inquiries']

data['Num_Credit_Inquiries'] = data.apply(replace_inq, axis=1, customer_inq_modes=Customer_inq)
#detect_outliers(data,'Num_Credit_Inquiries')

data.shape

(98283, 23)

In [144]:
data['Num_Credit_Inquiries'].isna().sum()

0

---

## Credit_Utilization_Ratio

In [147]:
data['Credit_Utilization_Ratio']

0        26.822620
1        31.944960
2        28.609352
3        31.377862
4        24.797347
           ...
98278    31.936092
98279    26.268474
98280    28.754729
98281    38.514974
98282    31.356267
Name: Credit_Utilization_Ratio, Length: 98283, dtype: float64

In [148]:

print(data['Credit_Utilization_Ratio'].max())
print(data['Credit_Utilization_Ratio'].min())

50.00000000000001
20.0

In [149]:
data['Credit_Utilization_Ratio'].isna().sum()

0

In [150]:
data['Credit_Utilization_Ratio'].unique()

array([26.82261962, 31.94496006, 28.60935202, ..., 28.75472883,
       38.51497415, 31.35626656])

In [151]:
detect_outliers(data,'Credit_Utilization_Ratio')

 column :  Credit_Utilization_Ratio
upper_bound is  49.15421757103067  lower_bound is  15.39382213191254
outliers :  [50.00000000000001, 49.52232429787243, 49.25498297529708, 49.56451934738699]

---

## Total_EMI_per_month

In [154]:
data['Total_EMI_per_month']

0          49.574949
1          49.574949
2          49.574949
3          49.574949
4          49.574949
            ...
98278      25.671257
98279      25.671257
98280      25.671257
98281    3466.000000
98282      25.671257
Name: Total_EMI_per_month, Length: 98283, dtype: float64

In [155]:
data['Total_EMI_per_month'].isna().sum()

0

In [156]:
data['Total_EMI_per_month'].unique()

array([  49.57494921,   18.81621457,  246.99231945, ...,   82.23521975,
         25.67125702, 3466.        ])

In [157]:
print(data['Total_EMI_per_month'].max())
print(data['Total_EMI_per_month'].min())

#detect_outliers(data,'Total_EMI_per_month')

82331.0
0.0

---

---

---

In [161]:
#pd.set_option('display.max_row',30)

categorical_data =data.select_dtypes(include=['object'])
numerical_data   =data.select_dtypes(include=['number'])

print(data.shape)
print(categorical_data.columns)
print(categorical_data.shape)
print("\n\n\n\n\n")
print(numerical_data.columns)
print(numerical_data.shape)

 ### we need to convert the type of ( Age, Annual_income, num_of_loan, Num_of_Delayed_Payment, Changed_Credit_Limit, Outstanding_Debt, 
 ### Amount_invested_monthly, Monthly_Balance, Credit_History_Age
###Num_Bank_Accounts, Num_Credit_Card, Interest_Rate, Delay_from_due_date, Num_Credit_Inquiries, Credit_Utilization_Ratio, Total_EMI_per_month

(98283, 23)
Index(['Occupation', 'Type_of_Loan', 'Credit_Mix', 'Payment_of_Min_Amount',
       'Payment_Behaviour', 'Credit_Score'],
      dtype='object')
(98283, 6)






Index(['Customer_ID', 'Age', 'Annual_Income', 'Num_Bank_Accounts',
       'Num_Credit_Card', 'Interest_Rate', 'Num_of_Loan',
       'Delay_from_due_date', 'Num_of_Delayed_Payment', 'Changed_Credit_Limit',
       'Num_Credit_Inquiries', 'Outstanding_Debt', 'Credit_Utilization_Ratio',
       'Total_EMI_per_month', 'Amount_invested_monthly', 'Monthly_Balance',
       'Credit_History_Age_Months'],
      dtype='object')
(98283, 17)

In [162]:
data.head()

,Customer_ID,Age,Occupation,Annual_Income,Num_Bank_Accounts,Num_Credit_Card,Interest_Rate,Num_of_Loan,Type_of_Loan,Delay_from_due_date,...,Credit_Mix,Outstanding_Debt,Credit_Utilization_Ratio,Payment_of_Min_Amount,Total_EMI_per_month,Amount_invested_monthly,Payment_Behaviour,Monthly_Balance,Credit_Score,Credit_History_Age_Months
0,12320,23,Scientist,19114.12,3,4,3,4,"Auto Loan, Credit-Builder Loan, Personal Loan,...",3,...,_,809.98,26.822620,No,49.574949,80.415295,High_spent_Small_value_payments,312.4940,Good,265.000000
1,12320,23,Scientist,19114.12,3,4,3,4,"Auto Loan, Credit-Builder Loan, Personal Loan,...",3,...,Good,809.98,31.944960,No,49.574949,118.280222,Low_spent_Large_value_payments,284.6291,Good,268.333333
2,12320,23,Scientist,19114.12,3,4,3,4,"Auto Loan, Credit-Builder Loan, Personal Loan,...",3,...,Good,809.98,28.609352,No,49.574949,81.699521,Low_spent_Medium_value_payments,331.2098,Good,267.000000
3,12320,23,Scientist,19114.12,3,4,3,4,"Auto Loan, Credit-Builder Loan, Personal Loan,...",5,...,Good,809.98,31.377862,No,49.574949,199.458074,Low_spent_Small_value_payments,223.4513,Good,268.000000
4,12320,23,Scientist,19114.12,3,4,3,4,"Auto Loan, Credit-Builder Loan, Personal Loan,...",6,...,Good,809.98,24.797347,No,49.574949,41.420153,High_spent_Medium_value_payments,341.4892,Good,269.000000

# **Categorical Data**

In [164]:
categorical_data

,Occupation,Type_of_Loan,Credit_Mix,Payment_of_Min_Amount,Payment_Behaviour,Credit_Score
0,Scientist,"Auto Loan, Credit-Builder Loan, Personal Loan,...",_,No,High_spent_Small_value_payments,Good
1,Scientist,"Auto Loan, Credit-Builder Loan, Personal Loan,...",Good,No,Low_spent_Large_value_payments,Good
2,Scientist,"Auto Loan, Credit-Builder Loan, Personal Loan,...",Good,No,Low_spent_Medium_value_payments,Good
3,Scientist,"Auto Loan, Credit-Builder Loan, Personal Loan,...",Good,No,Low_spent_Small_value_payments,Good
4,Scientist,"Auto Loan, Credit-Builder Loan, Personal Loan,...",Good,No,High_spent_Medium_value_payments,Good
...,...,...,...,...,...,...
98278,Lawyer,Payday Loan,Good,NM,Low_spent_Small_value_payments,Standard
98279,Lawyer,Payday Loan,Good,No,High_spent_Large_value_payments,Standard
98280,Lawyer,Payday Loan,Good,No,High_spent_Medium_value_payments,Standard
98281,Lawyer,Payday Loan,Good,No,High_spent_Small_value_payments,Standard
98282,Lawyer,Payday Loan,Good,No,Low_spent_Small_value_payments,Standard

In [165]:
categorical_data.columns

Index(['Occupation', 'Type_of_Loan', 'Credit_Mix', 'Payment_of_Min_Amount',
       'Payment_Behaviour', 'Credit_Score'],
      dtype='object')

## _**Encoding**_

In [167]:
from sklearn.preprocessing import LabelEncoder
le =LabelEncoder()

In [168]:
import category_encoders as ce
all_encoder=ce.OneHotEncoder(cols=['Occupation', 'Type_of_Loan', 'Credit_Mix', 'Payment_of_Min_Amount',
       'Payment_Behaviour', 'Credit_Score'])
Occupation_encoder=ce.OneHotEncoder(cols=['Occupation'],drop_invariant=True)

## Occupation

In [170]:
data['Occupation'].unique()

array(['Scientist', '_______', 'Teacher', 'Engineer', 'Entrepreneur',
       'Developer', 'Lawyer', 'Media_Manager', 'Doctor', 'Journalist',
       'Manager', 'Accountant', 'Musician', 'Mechanic', 'Writer',
       'Architect'], dtype=object)

In [171]:
data['Occupation'].isna().sum()

0

In [172]:
data['Occupation']=data['Occupation'].replace("_______",'Other')

In [173]:
data['Occupation'].unique()

array(['Scientist', 'Other', 'Teacher', 'Engineer', 'Entrepreneur',
       'Developer', 'Lawyer', 'Media_Manager', 'Doctor', 'Journalist',
       'Manager', 'Accountant', 'Musician', 'Mechanic', 'Writer',
       'Architect'], dtype=object)

In [174]:
data=Occupation_encoder.fit_transform(data)
data.head()

,Customer_ID,Age,Occupation_1,Occupation_2,Occupation_3,Occupation_4,Occupation_5,Occupation_6,Occupation_7,Occupation_8,...,Credit_Mix,Outstanding_Debt,Credit_Utilization_Ratio,Payment_of_Min_Amount,Total_EMI_per_month,Amount_invested_monthly,Payment_Behaviour,Monthly_Balance,Credit_Score,Credit_History_Age_Months
0,12320,23,1,0,0,0,0,0,0,0,...,_,809.98,26.822620,No,49.574949,80.415295,High_spent_Small_value_payments,312.4940,Good,265.000000
1,12320,23,1,0,0,0,0,0,0,0,...,Good,809.98,31.944960,No,49.574949,118.280222,Low_spent_Large_value_payments,284.6291,Good,268.333333
2,12320,23,1,0,0,0,0,0,0,0,...,Good,809.98,28.609352,No,49.574949,81.699521,Low_spent_Medium_value_payments,331.2098,Good,267.000000
3,12320,23,1,0,0,0,0,0,0,0,...,Good,809.98,31.377862,No,49.574949,199.458074,Low_spent_Small_value_payments,223.4513,Good,268.000000
4,12320,23,1,0,0,0,0,0,0,0,...,Good,809.98,24.797347,No,49.574949,41.420153,High_spent_Medium_value_payments,341.4892,Good,269.000000

In [175]:
data.head()

,Customer_ID,Age,Occupation_1,Occupation_2,Occupation_3,Occupation_4,Occupation_5,Occupation_6,Occupation_7,Occupation_8,...,Credit_Mix,Outstanding_Debt,Credit_Utilization_Ratio,Payment_of_Min_Amount,Total_EMI_per_month,Amount_invested_monthly,Payment_Behaviour,Monthly_Balance,Credit_Score,Credit_History_Age_Months
0,12320,23,1,0,0,0,0,0,0,0,...,_,809.98,26.822620,No,49.574949,80.415295,High_spent_Small_value_payments,312.4940,Good,265.000000
1,12320,23,1,0,0,0,0,0,0,0,...,Good,809.98,31.944960,No,49.574949,118.280222,Low_spent_Large_value_payments,284.6291,Good,268.333333
2,12320,23,1,0,0,0,0,0,0,0,...,Good,809.98,28.609352,No,49.574949,81.699521,Low_spent_Medium_value_payments,331.2098,Good,267.000000
3,12320,23,1,0,0,0,0,0,0,0,...,Good,809.98,31.377862,No,49.574949,199.458074,Low_spent_Small_value_payments,223.4513,Good,268.000000
4,12320,23,1,0,0,0,0,0,0,0,...,Good,809.98,24.797347,No,49.574949,41.420153,High_spent_Medium_value_payments,341.4892,Good,269.000000

---

## Type_of_Loan

In [178]:
data['Type_of_Loan']

0        Auto Loan, Credit-Builder Loan, Personal Loan,...
1        Auto Loan, Credit-Builder Loan, Personal Loan,...
2        Auto Loan, Credit-Builder Loan, Personal Loan,...
3        Auto Loan, Credit-Builder Loan, Personal Loan,...
4        Auto Loan, Credit-Builder Loan, Personal Loan,...
                               ...
98278                                          Payday Loan
98279                                          Payday Loan
98280                                          Payday Loan
98281                                          Payday Loan
98282                                          Payday Loan
Name: Type_of_Loan, Length: 98283, dtype: object

In [179]:
data['Type_of_Loan'].isna().sum()

11182

In [180]:
pd.set_option('display.max_row',30)
pd.set_option('display.max_column',None)

data['Type_of_Loan'].unique

<bound method Series.unique of 0        Auto Loan, Credit-Builder Loan, Personal Loan,...
1        Auto Loan, Credit-Builder Loan, Personal Loan,...
2        Auto Loan, Credit-Builder Loan, Personal Loan,...
3        Auto Loan, Credit-Builder Loan, Personal Loan,...
4        Auto Loan, Credit-Builder Loan, Personal Loan,...
                               ...
98278                                          Payday Loan
98279                                          Payday Loan
98280                                          Payday Loan
98281                                          Payday Loan
98282                                          Payday Loan
Name: Type_of_Loan, Length: 98283, dtype: object>

In [181]:
longest_string = data['Type_of_Loan'].astype(str).apply(len).idxmax()


longest_string_value = data['Type_of_Loan'][longest_string]

print(longest_string_value)

Debt Consolidation Loan, Home Equity Loan, Credit-Builder Loan, Personal Loan, Debt Consolidation Loan, Debt Consolidation Loan, Mortgage Loan, Credit-Builder Loan, and Not Specified

In [182]:
data['Type_of_Loan'].isna().sum()

11182

In [183]:
data['Type_of_Loan']=data['Type_of_Loan'].fillna('Not Specified')
data.shape

(98283, 38)

In [184]:
data['Type_of_Loan'].isna().sum()

0

In [185]:

# List of loan types
loan_types = [
    'Debt Consolidation Loan', 'Home Equity Loan', 'Credit-Builder Loan', 'Personal Loan', 
    'Student Loan', 'Mortgage Loan', 'Payday Loan', 'Auto Loan', 'Not Specified'
]

# Initialize new columns
for loan in loan_types:
    data[loan] = 0



data.head()

,Customer_ID,Age,Occupation_1,Occupation_2,Occupation_3,Occupation_4,Occupation_5,Occupation_6,Occupation_7,Occupation_8,Occupation_9,Occupation_10,Occupation_11,Occupation_12,Occupation_13,Occupation_14,Occupation_15,Occupation_16,Annual_Income,Num_Bank_Accounts,Num_Credit_Card,Interest_Rate,Num_of_Loan,Type_of_Loan,Delay_from_due_date,Num_of_Delayed_Payment,Changed_Credit_Limit,Num_Credit_Inquiries,Credit_Mix,Outstanding_Debt,Credit_Utilization_Ratio,Payment_of_Min_Amount,Total_EMI_per_month,Amount_invested_monthly,Payment_Behaviour,Monthly_Balance,Credit_Score,Credit_History_Age_Months,Debt Consolidation Loan,Home Equity Loan,Credit-Builder Loan,Personal Loan,Student Loan,Mortgage Loan,Payday Loan,Auto Loan,Not Specified
0,12320,23,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,19114.12,3,4,3,4,"Auto Loan, Credit-Builder Loan, Personal Loan,...",3,7.0,11.27,4.0,_,809.98,26.822620,No,49.574949,80.415295,High_spent_Small_value_payments,312.4940,Good,265.000000,0,0,0,0,0,0,0,0,0
1,12320,23,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,19114.12,3,4,3,4,"Auto Loan, Credit-Builder Loan, Personal Loan,...",3,4.0,11.27,4.0,Good,809.98,31.944960,No,49.574949,118.280222,Low_spent_Large_value_payments,284.6291,Good,268.333333,0,0,0,0,0,0,0,0,0
2,12320,23,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,19114.12,3,4,3,4,"Auto Loan, Credit-Builder Loan, Personal Loan,...",3,7.0,10.27,4.0,Good,809.98,28.609352,No,49.574949,81.699521,Low_spent_Medium_value_payments,331.2098,Good,267.000000,0,0,0,0,0,0,0,0,0
3,12320,23,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,19114.12,3,4,3,4,"Auto Loan, Credit-Builder Loan, Personal Loan,...",5,4.0,6.27,4.0,Good,809.98,31.377862,No,49.574949,199.458074,Low_spent_Small_value_payments,223.4513,Good,268.000000,0,0,0,0,0,0,0,0,0
4,12320,23,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,19114.12,3,4,3,4,"Auto Loan, Credit-Builder Loan, Personal Loan,...",6,4.0,11.27,4.0,Good,809.98,24.797347,No,49.574949,41.420153,High_spent_Medium_value_payments,341.4892,Good,269.000000,0,0,0,0,0,0,0,0,0

In [186]:
# Iterate through each row and count occurrences of each loan type
for i, row in data.iterrows():
    loans = row['Type_of_Loan'].replace('and ', '').split(', ')
    for loan in loans:
        loan = loan.strip()
        if loan in loan_types:
            data.at[i, loan] += 1

In [187]:
data.head()

,Customer_ID,Age,Occupation_1,Occupation_2,Occupation_3,Occupation_4,Occupation_5,Occupation_6,Occupation_7,Occupation_8,Occupation_9,Occupation_10,Occupation_11,Occupation_12,Occupation_13,Occupation_14,Occupation_15,Occupation_16,Annual_Income,Num_Bank_Accounts,Num_Credit_Card,Interest_Rate,Num_of_Loan,Type_of_Loan,Delay_from_due_date,Num_of_Delayed_Payment,Changed_Credit_Limit,Num_Credit_Inquiries,Credit_Mix,Outstanding_Debt,Credit_Utilization_Ratio,Payment_of_Min_Amount,Total_EMI_per_month,Amount_invested_monthly,Payment_Behaviour,Monthly_Balance,Credit_Score,Credit_History_Age_Months,Debt Consolidation Loan,Home Equity Loan,Credit-Builder Loan,Personal Loan,Student Loan,Mortgage Loan,Payday Loan,Auto Loan,Not Specified
0,12320,23,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,19114.12,3,4,3,4,"Auto Loan, Credit-Builder Loan, Personal Loan,...",3,7.0,11.27,4.0,_,809.98,26.822620,No,49.574949,80.415295,High_spent_Small_value_payments,312.4940,Good,265.000000,0,1,1,1,0,0,0,1,0
1,12320,23,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,19114.12,3,4,3,4,"Auto Loan, Credit-Builder Loan, Personal Loan,...",3,4.0,11.27,4.0,Good,809.98,31.944960,No,49.574949,118.280222,Low_spent_Large_value_payments,284.6291,Good,268.333333,0,1,1,1,0,0,0,1,0
2,12320,23,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,19114.12,3,4,3,4,"Auto Loan, Credit-Builder Loan, Personal Loan,...",3,7.0,10.27,4.0,Good,809.98,28.609352,No,49.574949,81.699521,Low_spent_Medium_value_payments,331.2098,Good,267.000000,0,1,1,1,0,0,0,1,0
3,12320,23,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,19114.12,3,4,3,4,"Auto Loan, Credit-Builder Loan, Personal Loan,...",5,4.0,6.27,4.0,Good,809.98,31.377862,No,49.574949,199.458074,Low_spent_Small_value_payments,223.4513,Good,268.000000,0,1,1,1,0,0,0,1,0
4,12320,23,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,19114.12,3,4,3,4,"Auto Loan, Credit-Builder Loan, Personal Loan,...",6,4.0,11.27,4.0,Good,809.98,24.797347,No,49.574949,41.420153,High_spent_Medium_value_payments,341.4892,Good,269.000000,0,1,1,1,0,0,0,1,0

In [188]:
data.drop(columns=['Type_of_Loan'],inplace=True)
data.head()

,Customer_ID,Age,Occupation_1,Occupation_2,Occupation_3,Occupation_4,Occupation_5,Occupation_6,Occupation_7,Occupation_8,Occupation_9,Occupation_10,Occupation_11,Occupation_12,Occupation_13,Occupation_14,Occupation_15,Occupation_16,Annual_Income,Num_Bank_Accounts,Num_Credit_Card,Interest_Rate,Num_of_Loan,Delay_from_due_date,Num_of_Delayed_Payment,Changed_Credit_Limit,Num_Credit_Inquiries,Credit_Mix,Outstanding_Debt,Credit_Utilization_Ratio,Payment_of_Min_Amount,Total_EMI_per_month,Amount_invested_monthly,Payment_Behaviour,Monthly_Balance,Credit_Score,Credit_History_Age_Months,Debt Consolidation Loan,Home Equity Loan,Credit-Builder Loan,Personal Loan,Student Loan,Mortgage Loan,Payday Loan,Auto Loan,Not Specified
0,12320,23,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,19114.12,3,4,3,4,3,7.0,11.27,4.0,_,809.98,26.822620,No,49.574949,80.415295,High_spent_Small_value_payments,312.4940,Good,265.000000,0,1,1,1,0,0,0,1,0
1,12320,23,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,19114.12,3,4,3,4,3,4.0,11.27,4.0,Good,809.98,31.944960,No,49.574949,118.280222,Low_spent_Large_value_payments,284.6291,Good,268.333333,0,1,1,1,0,0,0,1,0
2,12320,23,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,19114.12,3,4,3,4,3,7.0,10.27,4.0,Good,809.98,28.609352,No,49.574949,81.699521,Low_spent_Medium_value_payments,331.2098,Good,267.000000,0,1,1,1,0,0,0,1,0
3,12320,23,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,19114.12,3,4,3,4,5,4.0,6.27,4.0,Good,809.98,31.377862,No,49.574949,199.458074,Low_spent_Small_value_payments,223.4513,Good,268.000000,0,1,1,1,0,0,0,1,0
4,12320,23,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,19114.12,3,4,3,4,6,4.0,11.27,4.0,Good,809.98,24.797347,No,49.574949,41.420153,High_spent_Medium_value_payments,341.4892,Good,269.000000,0,1,1,1,0,0,0,1,0

---

## Credit_Mix

In [191]:
data['Credit_Mix'].value_counts()

Credit_Mix
Standard    35851
Good        23917
_           19815
Bad         18700
Name: count, dtype: int64

In [192]:
data['Credit_Mix'].replace('_',np.nan,inplace=True)

In [193]:
# Step 1: Compute the mode for each Customer_ID
Customer_mix = data.groupby('Customer_ID')['Credit_Mix'].apply(
    lambda x: x.mode().iloc[0] if not x.mode().empty else x.iloc[0]
)


# Step 2: Replace values 
def replace_mix(row, customer_mix_modes):
    if pd.isnull(row['Credit_Mix'])  :        
        return customer_mix_modes[row['Customer_ID']]
    else:
        return row['Credit_Mix']

data['Credit_Mix'] = data.apply(replace_mix, axis=1, customer_mix_modes=Customer_mix)


data.shape

(98283, 46)

In [194]:
data['Credit_Mix'].value_counts()

Credit_Mix
Standard    45040
Good        29843
Bad         23400
Name: count, dtype: int64

In [195]:
Credit_Mix_encoder=ce.OneHotEncoder(cols=['Credit_Mix'],drop_invariant=True)

In [196]:
data=Credit_Mix_encoder.fit_transform(data)
data.head()

,Customer_ID,Age,Occupation_1,Occupation_2,Occupation_3,Occupation_4,Occupation_5,Occupation_6,Occupation_7,Occupation_8,Occupation_9,Occupation_10,Occupation_11,Occupation_12,Occupation_13,Occupation_14,Occupation_15,Occupation_16,Annual_Income,Num_Bank_Accounts,Num_Credit_Card,Interest_Rate,Num_of_Loan,Delay_from_due_date,Num_of_Delayed_Payment,Changed_Credit_Limit,Num_Credit_Inquiries,Credit_Mix_1,Credit_Mix_2,Credit_Mix_3,Outstanding_Debt,Credit_Utilization_Ratio,Payment_of_Min_Amount,Total_EMI_per_month,Amount_invested_monthly,Payment_Behaviour,Monthly_Balance,Credit_Score,Credit_History_Age_Months,Debt Consolidation Loan,Home Equity Loan,Credit-Builder Loan,Personal Loan,Student Loan,Mortgage Loan,Payday Loan,Auto Loan,Not Specified
0,12320,23,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,19114.12,3,4,3,4,3,7.0,11.27,4.0,1,0,0,809.98,26.822620,No,49.574949,80.415295,High_spent_Small_value_payments,312.4940,Good,265.000000,0,1,1,1,0,0,0,1,0
1,12320,23,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,19114.12,3,4,3,4,3,4.0,11.27,4.0,1,0,0,809.98,31.944960,No,49.574949,118.280222,Low_spent_Large_value_payments,284.6291,Good,268.333333,0,1,1,1,0,0,0,1,0
2,12320,23,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,19114.12,3,4,3,4,3,7.0,10.27,4.0,1,0,0,809.98,28.609352,No,49.574949,81.699521,Low_spent_Medium_value_payments,331.2098,Good,267.000000,0,1,1,1,0,0,0,1,0
3,12320,23,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,19114.12,3,4,3,4,5,4.0,6.27,4.0,1,0,0,809.98,31.377862,No,49.574949,199.458074,Low_spent_Small_value_payments,223.4513,Good,268.000000,0,1,1,1,0,0,0,1,0
4,12320,23,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,19114.12,3,4,3,4,6,4.0,11.27,4.0,1,0,0,809.98,24.797347,No,49.574949,41.420153,High_spent_Medium_value_payments,341.4892,Good,269.000000,0,1,1,1,0,0,0,1,0

In [197]:
print(data.shape)
print(data.info())

(98283, 48)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 98283 entries, 0 to 98282
Data columns (total 48 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Customer_ID                98283 non-null  int32
 1   Age                        98283 non-null  int64
 2   Occupation_1               98283 non-null  int64
 3   Occupation_2               98283 non-null  int64
 4   Occupation_3               98283 non-null  int64
 5   Occupation_4               98283 non-null  int64
 6   Occupation_5               98283 non-null  int64
 7   Occupation_6               98283 non-null  int64
 8   Occupation_7               98283 non-null  int64
 9   Occupation_8               98283 non-null  int64
 10  Occupation_9               98283 non-null  int64
 11  Occupation_10              98283 non-null  int64
 12  Occupation_11              98283 non-null  int64
 13  Occupation_12              98283 non-null  int64
 14  Occupation_13              98283 non-null  int64
 15  Occupation_14              98283 non-null  int64
 16  Occupation_15              98283 non-null  int64
 17  Occupation_16              98283 non-null  int64
 18  Annual_Income              98283 non-null  float64
 19  Num_Bank_Accounts          98283 non-null  int64
 20  Num_Credit_Card            98283 non-null  int64
 21  Interest_Rate              98283 non-null  int64
 22  Num_of_Loan                98283 non-null  int64
 23  Delay_from_due_date        98283 non-null  int64
 24  Num_of_Delayed_Payment     98283 non-null  float64
 25  Changed_Credit_Limit       98283 non-null  float64
 26  Num_Credit_Inquiries       98283 non-null  float64
 27  Credit_Mix_1               98283 non-null  int64
 28  Credit_Mix_2               98283 non-null  int64
 29  Credit_Mix_3               98283 non-null  int64
 30  Outstanding_Debt           98283 non-null  float64
 31  Credit_Utilization_Ratio   98283 non-null  float64
 32  Payment_of_Min_Amount      98283 non-null  object
 33  Total_EMI_per_month        98283 non-null  float64
 34  Amount_invested_monthly    98283 non-null  float64
 35  Payment_Behaviour          98283 non-null  object
 36  Monthly_Balance            98283 non-null  float64
 37  Credit_Score               98283 non-null  object
 38  Credit_History_Age_Months  98283 non-null  float64
 39  Debt Consolidation Loan    98283 non-null  int64
 40  Home Equity Loan           98283 non-null  int64
 41  Credit-Builder Loan        98283 non-null  int64
 42  Personal Loan              98283 non-null  int64
 43  Student Loan               98283 non-null  int64
 44  Mortgage Loan              98283 non-null  int64
 45  Payday Loan                98283 non-null  int64
 46  Auto Loan                  98283 non-null  int64
 47  Not Specified              98283 non-null  int64
dtypes: float64(10), int32(1), int64(34), object(3)
memory usage: 35.6+ MB
None

---

## Payment_of_Min_Amount

In [200]:
data['Payment_of_Min_Amount'].value_counts()

Payment_of_Min_Amount
Yes    51458
No     35002
NM     11823
Name: count, dtype: int64

In [201]:
Payment_of_Min_Amount_encoder=ce.OneHotEncoder(cols=['Payment_of_Min_Amount'],drop_invariant=True)

In [202]:
data=Payment_of_Min_Amount_encoder.fit_transform(data)
data.head()

,Customer_ID,Age,Occupation_1,Occupation_2,Occupation_3,Occupation_4,Occupation_5,Occupation_6,Occupation_7,Occupation_8,Occupation_9,Occupation_10,Occupation_11,Occupation_12,Occupation_13,Occupation_14,Occupation_15,Occupation_16,Annual_Income,Num_Bank_Accounts,Num_Credit_Card,Interest_Rate,Num_of_Loan,Delay_from_due_date,Num_of_Delayed_Payment,Changed_Credit_Limit,Num_Credit_Inquiries,Credit_Mix_1,Credit_Mix_2,Credit_Mix_3,Outstanding_Debt,Credit_Utilization_Ratio,Payment_of_Min_Amount_1,Payment_of_Min_Amount_2,Payment_of_Min_Amount_3,Total_EMI_per_month,Amount_invested_monthly,Payment_Behaviour,Monthly_Balance,Credit_Score,Credit_History_Age_Months,Debt Consolidation Loan,Home Equity Loan,Credit-Builder Loan,Personal Loan,Student Loan,Mortgage Loan,Payday Loan,Auto Loan,Not Specified
0,12320,23,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,19114.12,3,4,3,4,3,7.0,11.27,4.0,1,0,0,809.98,26.822620,1,0,0,49.574949,80.415295,High_spent_Small_value_payments,312.4940,Good,265.000000,0,1,1,1,0,0,0,1,0
1,12320,23,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,19114.12,3,4,3,4,3,4.0,11.27,4.0,1,0,0,809.98,31.944960,1,0,0,49.574949,118.280222,Low_spent_Large_value_payments,284.6291,Good,268.333333,0,1,1,1,0,0,0,1,0
2,12320,23,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,19114.12,3,4,3,4,3,7.0,10.27,4.0,1,0,0,809.98,28.609352,1,0,0,49.574949,81.699521,Low_spent_Medium_value_payments,331.2098,Good,267.000000,0,1,1,1,0,0,0,1,0
3,12320,23,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,19114.12,3,4,3,4,5,4.0,6.27,4.0,1,0,0,809.98,31.377862,1,0,0,49.574949,199.458074,Low_spent_Small_value_payments,223.4513,Good,268.000000,0,1,1,1,0,0,0,1,0
4,12320,23,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,19114.12,3,4,3,4,6,4.0,11.27,4.0,1,0,0,809.98,24.797347,1,0,0,49.574949,41.420153,High_spent_Medium_value_payments,341.4892,Good,269.000000,0,1,1,1,0,0,0,1,0

In [203]:
data.shape

(98283, 50)

---

## Payment_Behaviour

In [206]:
data['Payment_Behaviour'].value_counts()

Payment_Behaviour
Low_spent_Small_value_payments      25146
High_spent_Medium_value_payments    17215
Low_spent_Medium_value_payments     13603
High_spent_Large_value_payments     13460
High_spent_Small_value_payments     11157
Low_spent_Large_value_payments      10240
!@9#%8                               7462
Name: count, dtype: int64

In [207]:
data['Payment_Behaviour'].replace('!@9#%8',np.nan,inplace=True)

In [208]:
# Step 1: Compute the mode for each Customer_ID
Customer_payment = data.groupby('Customer_ID')['Payment_Behaviour'].apply(
    lambda x: x.mode().iloc[0] if not x.mode().empty else x.iloc[0]
)


# Step 2: Replace values 
def replace_payment(row, customer_payment_modes):
    if pd.isnull(row['Payment_Behaviour'])  :        
        return customer_payment_modes[row['Customer_ID']]
    else:
        return row['Payment_Behaviour']

data['Payment_Behaviour'] = data.apply(replace_payment, axis=1, customer_payment_modes=Customer_payment)


data.shape

(98283, 50)

In [209]:
Payment_Behaviour_encoder=ce.OneHotEncoder(cols=['Payment_Behaviour'],drop_invariant=True)

In [210]:
data=Payment_Behaviour_encoder.fit_transform(data)
data.head()

,Customer_ID,Age,Occupation_1,Occupation_2,Occupation_3,Occupation_4,Occupation_5,Occupation_6,Occupation_7,Occupation_8,Occupation_9,Occupation_10,Occupation_11,Occupation_12,Occupation_13,Occupation_14,Occupation_15,Occupation_16,Annual_Income,Num_Bank_Accounts,Num_Credit_Card,Interest_Rate,Num_of_Loan,Delay_from_due_date,Num_of_Delayed_Payment,Changed_Credit_Limit,Num_Credit_Inquiries,Credit_Mix_1,Credit_Mix_2,Credit_Mix_3,Outstanding_Debt,Credit_Utilization_Ratio,Payment_of_Min_Amount_1,Payment_of_Min_Amount_2,Payment_of_Min_Amount_3,Total_EMI_per_month,Amount_invested_monthly,Payment_Behaviour_1,Payment_Behaviour_2,Payment_Behaviour_3,Payment_Behaviour_4,Payment_Behaviour_5,Payment_Behaviour_6,Monthly_Balance,Credit_Score,Credit_History_Age_Months,Debt Consolidation Loan,Home Equity Loan,Credit-Builder Loan,Personal Loan,Student Loan,Mortgage Loan,Payday Loan,Auto Loan,Not Specified
0,12320,23,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,19114.12,3,4,3,4,3,7.0,11.27,4.0,1,0,0,809.98,26.822620,1,0,0,49.574949,80.415295,1,0,0,0,0,0,312.4940,Good,265.000000,0,1,1,1,0,0,0,1,0
1,12320,23,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,19114.12,3,4,3,4,3,4.0,11.27,4.0,1,0,0,809.98,31.944960,1,0,0,49.574949,118.280222,0,1,0,0,0,0,284.6291,Good,268.333333,0,1,1,1,0,0,0,1,0
2,12320,23,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,19114.12,3,4,3,4,3,7.0,10.27,4.0,1,0,0,809.98,28.609352,1,0,0,49.574949,81.699521,0,0,1,0,0,0,331.2098,Good,267.000000,0,1,1,1,0,0,0,1,0
3,12320,23,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,19114.12,3,4,3,4,5,4.0,6.27,4.0,1,0,0,809.98,31.377862,1,0,0,49.574949,199.458074,0,0,0,1,0,0,223.4513,Good,268.000000,0,1,1,1,0,0,0,1,0
4,12320,23,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,19114.12,3,4,3,4,6,4.0,11.27,4.0,1,0,0,809.98,24.797347,1,0,0,49.574949,41.420153,0,0,0,0,1,0,341.4892,Good,269.000000,0,1,1,1,0,0,0,1,0

In [211]:
data.shape

(98283, 55)

---

## Credit_History_Age_Months

In [214]:
data['Credit_History_Age_Months']=pd.to_numeric(data['Credit_History_Age_Months'])

In [215]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 98283 entries, 0 to 98282
Data columns (total 55 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Customer_ID                98283 non-null  int32
 1   Age                        98283 non-null  int64
 2   Occupation_1               98283 non-null  int64
 3   Occupation_2               98283 non-null  int64
 4   Occupation_3               98283 non-null  int64
 5   Occupation_4               98283 non-null  int64
 6   Occupation_5               98283 non-null  int64
 7   Occupation_6               98283 non-null  int64
 8   Occupation_7               98283 non-null  int64
 9   Occupation_8               98283 non-null  int64
 10  Occupation_9               98283 non-null  int64
 11  Occupation_10              98283 non-null  int64
 12  Occupation_11              98283 non-null  int64
 13  Occupation_12              98283 non-null  int64
 14  Occupation_13              98283 non-null  int64
 15  Occupation_14              98283 non-null  int64
 16  Occupation_15              98283 non-null  int64
 17  Occupation_16              98283 non-null  int64
 18  Annual_Income              98283 non-null  float64
 19  Num_Bank_Accounts          98283 non-null  int64
 20  Num_Credit_Card            98283 non-null  int64
 21  Interest_Rate              98283 non-null  int64
 22  Num_of_Loan                98283 non-null  int64
 23  Delay_from_due_date        98283 non-null  int64
 24  Num_of_Delayed_Payment     98283 non-null  float64
 25  Changed_Credit_Limit       98283 non-null  float64
 26  Num_Credit_Inquiries       98283 non-null  float64
 27  Credit_Mix_1               98283 non-null  int64
 28  Credit_Mix_2               98283 non-null  int64
 29  Credit_Mix_3               98283 non-null  int64
 30  Outstanding_Debt           98283 non-null  float64
 31  Credit_Utilization_Ratio   98283 non-null  float64
 32  Payment_of_Min_Amount_1    98283 non-null  int64
 33  Payment_of_Min_Amount_2    98283 non-null  int64
 34  Payment_of_Min_Amount_3    98283 non-null  int64
 35  Total_EMI_per_month        98283 non-null  float64
 36  Amount_invested_monthly    98283 non-null  float64
 37  Payment_Behaviour_1        98283 non-null  int64
 38  Payment_Behaviour_2        98283 non-null  int64
 39  Payment_Behaviour_3        98283 non-null  int64
 40  Payment_Behaviour_4        98283 non-null  int64
 41  Payment_Behaviour_5        98283 non-null  int64
 42  Payment_Behaviour_6        98283 non-null  int64
 43  Monthly_Balance            98283 non-null  float64
 44  Credit_Score               98283 non-null  object
 45  Credit_History_Age_Months  98283 non-null  float64
 46  Debt Consolidation Loan    98283 non-null  int64
 47  Home Equity Loan           98283 non-null  int64
 48  Credit-Builder Loan        98283 non-null  int64
 49  Personal Loan              98283 non-null  int64
 50  Student Loan               98283 non-null  int64
 51  Mortgage Loan              98283 non-null  int64
 52  Payday Loan                98283 non-null  int64
 53  Auto Loan                  98283 non-null  int64
 54  Not Specified              98283 non-null  int64
dtypes: float64(10), int32(1), int64(43), object(1)
memory usage: 40.9+ MB

---

In [217]:
pd.set_option('display.max_row',30)

data.isna().sum()

Customer_ID      0
Age              0
Occupation_1     0
Occupation_2     0
Occupation_3     0
                ..
Student Loan     0
Mortgage Loan    0
Payday Loan      0
Auto Loan        0
Not Specified    0
Length: 55, dtype: int64

In [218]:
data.shape

(98283, 55)

---

---

---

---

# <b> Spilt Data </b>

In [479]:
x=data.drop(columns=['Credit_Score'])
y=data['Credit_Score']

In [481]:
pd.set_option('display.max_row',20)

from sklearn.model_selection import train_test_split
train_x,test_x,train_y,test_y=train_test_split(x,y,test_size=0.2,random_state=6969)
train_y

51962    Standard
69381        Poor
54704    Standard
64645    Standard
62834    Standard
           ...
83057        Poor
54194        Poor
80572        Poor
52310        Poor
49759        Good
Name: Credit_Score, Length: 78626, dtype: object

# <b> Model </b>

### Scaling

In [485]:
from sklearn.preprocessing import RobustScaler
scaler=RobustScaler()
cols=train_x.columns
train_x_robust =scaler.fit_transform(train_x)
test_x_robust  =scaler.transform(test_x)

In [487]:
train_x_robust =pd.DataFrame(train_x_robust,columns=[cols])
test_x_robust  =pd.DataFrame(test_x_robust,columns=[cols])

## RandomForest

In [489]:
from sklearn.ensemble import RandomForestClassifier
rfc=RandomForestClassifier(n_estimators=200, random_state=6969)
rfc.fit(train_x_robust,train_y)
y_pred=rfc.predict(test_x_robust)


#150 81.58416848959659
#200 81.66047718370046
#230 81.58925573587017
#240 81.62486645978532
#250 81.59943022841736
#300 81.57908124332299
#400 81.67065167624766

In [490]:
from sklearn.metrics import accuracy_score,classification_report

print(f"the Model accuracy is {accuracy_score(test_y,y_pred)*100}% for 400 desicion tree")

the Model accuracy is 81.66047718370046% for 400 desicion tree

In [491]:
print(classification_report(test_y,y_pred))

              precision    recall  f1-score   support

        Good       0.78      0.78      0.78      3459
        Poor       0.80      0.84      0.82      5714
    Standard       0.84      0.82      0.83     10484

    accuracy                           0.82     19657
   macro avg       0.81      0.81      0.81     19657
weighted avg       0.82      0.82      0.82     19657

In [495]:
importance=rfc.feature_importances_
importance

array([0.03342831, 0.03200269, 0.0030002 , 0.00358668, 0.00290934,
       0.00298557, 0.00290167, 0.00294349, 0.0029135 , 0.00270213,
       0.00289696, 0.00264312, 0.00279545, 0.00290197, 0.00276369,
       0.00286835, 0.00265741, 0.00289077, 0.03516993, 0.02402065,
       0.03802102, 0.06692705, 0.01993184, 0.05244776, 0.03473643,
       0.05080854, 0.03716166, 0.0351983 , 0.04455414, 0.01728844,
       0.09008798, 0.04163883, 0.0102427 , 0.00406418, 0.0102651 ,
       0.0334543 , 0.04188864, 0.00485053, 0.00450049, 0.00516872,
       0.00669631, 0.0060203 , 0.00493808, 0.04412811, 0.05878928,
       0.00702411, 0.00706979, 0.0073195 , 0.00724071, 0.00738138,
       0.00709122, 0.00727905, 0.007191  , 0.00761263])

In [497]:
pd.set_option('display.max_row',None)
features_scores=pd.Series(importance,index=train_x.columns).sort_values()
print(features_scores)

Occupation_10                0.002643
Occupation_15                0.002657
Occupation_8                 0.002702
Occupation_13                0.002764
Occupation_11                0.002795
Occupation_14                0.002868
Occupation_16                0.002891
Occupation_9                 0.002897
Occupation_5                 0.002902
Occupation_12                0.002902
Occupation_3                 0.002909
Occupation_7                 0.002914
Occupation_6                 0.002943
Occupation_4                 0.002986
Occupation_1                 0.003000
Occupation_2                 0.003587
Payment_of_Min_Amount_2      0.004064
Payment_Behaviour_2          0.004500
Payment_Behaviour_1          0.004851
Payment_Behaviour_6          0.004938
Payment_Behaviour_3          0.005169
Payment_Behaviour_5          0.006020
Payment_Behaviour_4          0.006696
Debt Consolidation Loan      0.007024
Home Equity Loan             0.007070
Mortgage Loan                0.007091
Auto Loan                    0.007191
Personal Loan                0.007241
Payday Loan                  0.007279
Credit-Builder Loan          0.007319
Student Loan                 0.007381
Not Specified                0.007613
Payment_of_Min_Amount_1      0.010243
Payment_of_Min_Amount_3      0.010265
Credit_Mix_3                 0.017288
Num_of_Loan                  0.019932
Num_Bank_Accounts            0.024021
Age                          0.032003
Customer_ID                  0.033428
Total_EMI_per_month          0.033454
Num_of_Delayed_Payment       0.034736
Annual_Income                0.035170
Credit_Mix_1                 0.035198
Num_Credit_Inquiries         0.037162
Num_Credit_Card              0.038021
Credit_Utilization_Ratio     0.041639
Amount_invested_monthly      0.041889
Monthly_Balance              0.044128
Credit_Mix_2                 0.044554
Changed_Credit_Limit         0.050809
Delay_from_due_date          0.052448
Credit_History_Age_Months    0.058789
Interest_Rate                0.066927
Outstanding_Debt             0.090088
dtype: float64

## XGBoost

In [500]:
from xgboost import XGBClassifier
from sklearn.metrics import confusion_matrix

In [502]:
print(test_y.value_counts())
print(train_y.info())

Credit_Score
Standard    10484
Poor         5714
Good         3459
Name: count, dtype: int64
<class 'pandas.core.series.Series'>
Index: 78626 entries, 51962 to 49759
Series name: Credit_Score
Non-Null Count  Dtype
--------------  -----
78626 non-null  object
dtypes: object(1)
memory usage: 1.2+ MB
None

In [504]:
test_y = test_y.map({'Good': 2, 'Standard': 1, 'Poor': 0 }) #converting to int
train_y = train_y.map({'Good': 2, 'Standard': 1, 'Poor': 0 }) #converting to int

In [517]:
model = XGBClassifier(max_depth=12,
                      n_estimators=400,
                      min_child_weight=8, 
                      subsample=0.8, 
                      learning_rate =0.02,    
                      seed=42)







model.fit(train_x_robust, train_y)
y_predict = model.predict(test_x_robust)
print('Accuracy Score is {:.5}'.format(accuracy_score(test_y, y_predict)))
print(pd.DataFrame(confusion_matrix(test_y,y_predict)))

Accuracy Score is 0.80343
      0     1     2
0  4634   983    97
1  1202  8499   783
2    19   780  2660

In [513]:
print(classification_report(test_y,y_predict))

              precision    recall  f1-score   support

           0       0.79      0.81      0.80      5714
           1       0.83      0.81      0.82     10484
           2       0.75      0.77      0.76      3459

    accuracy                           0.80     19657
   macro avg       0.79      0.80      0.79     19657
weighted avg       0.80      0.80      0.80     19657

## CatBoost

In [532]:
from catboost import CatBoostClassifier

In [ ]:
model = CatBoostClassifier(iterations=250,
                           learning_rate=0.2,
                           od_type='Iter',
                           verbose=25,
                           depth=16,
                           random_seed=42)

model.fit(train_x_robust, train_y)
y_predict = model.predict(test_x_robust)
print('CatBoost Accuracy Score is {:.5}'.format(accuracy_score(test_y, y_predict)))
print(pd.DataFrame(confusion_matrix(test_y,y_predict)))

0:	learn: 0.9745620	total: 9.53s	remaining: 39m 32s
25:	learn: 0.4478880	total: 2m 18s	remaining: 19m 52s
50:	learn: 0.3220768	total: 4m 22s	remaining: 17m 3s
75:	learn: 0.2511485	total: 6m 34s	remaining: 15m 4s
100:	learn: 0.1979122	total: 8m 48s	remaining: 12m 59s
125:	learn: 0.1600695	total: 11m 6s	remaining: 10m 56s
150:	learn: 0.1321311	total: 13m 23s	remaining: 8m 46s
175:	learn: 0.1127362	total: 15m 56s	remaining: 6m 42s

In [ ]:
print(classification_report(test_y,y_predict))

# **END**

---

---

---